.nav{
   grid-area: n;
   background-color: rgb(63, 87, 85);
   border-radius: 10px;
   margin: 10px 10px 10px 0px;
   padding: 10px 0px 0px 10px;
}
.item a{
   color: white;
}

.item a.activeLink {
   color: gold;
}
a{
   text-decoration: none;
}
.friends {
   font-size: 24px;
   color: white;
   text-align: center;
   margin: 30px 0 30px 0;
}
.frAva {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 10px 0 0 0;;
}


.frAva img{
   width: 40px;
   border-radius: 50%;
}